.actors {
    display: flex;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
}
.actor {
    text-align: center;
}

.actor img {
    width: 130px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.actor h6 {
    font-size: 12px;
    font-weight: bolder;
    padding: 10px 0 5px 0;
    width: 130px;
}

.actor p {
    color: rgba(255, 254, 254, 0.52);
}